<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>zform-开发版本</title>
</head>

<body>
	#include("@/include/header.html")
<div class="formMain">
	<form id="abc">
		<p><strong>本库不依赖任何css样式，网页请自己设计制作。</strong></p>
		<input autocomplete="off"  type="text" placeholder="请输入孩子姓名" name="mobile"/><br />
		<input autocomplete="off"  type="text" placeholder="请输入孩子姓名"/><br />
		<input autocomplete="off"  type="text" placeholder="请输入孩子姓名"/><br />
		<button class="button">提交表单</button>
	</form>
</div>
</body>
</html>